.bg-bd-io-100{
    background-image: url(../../images/background_building.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.bg-bd-io-15{
    background-image: url(../../images/background_building_opacity-15.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.bg-bd-io-30{
    background-image: url(../../images/background_building_opacity-30.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.bg-image{
    background-image: url(../../images/background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.bg-image-opacity-70{
    background-image: url(../../images/background_opacity_70.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}