:root{
    --jbb-blue: #002F86;
    --jbb-light-blue:#1A4589;
    --jbb-footer-blue: #4a689f;
    --jbb-yellow: #BC983D;
    --jbb-light-yellow: #BB972E;
    --jbb-orange: #F59607;
    --jbb-white: #FFFFFF;
}



.bg-jbb-blue {
    background-color: var(--jbb-blue)!important;
}

.bg-jbb-yellow {
    background-color:var(--jbb-yellow)!important;
}

.bg-test-color{
    background-color: #10d874;
}

.bg-test-red-color{
    background-color: #dc3545;
}

.bd-test-orange-border{
    border: 1px solid var(--jbb-orange)
}

.border-blue{    
    border-color: var(--jbb-blue)!important;    
}

.text-jbb-blue{
    color: var(--jbb-light-blue)!important;
}

.text-jbb-yellow{
    color: var(--jbb-light-yellow)!important;
}