.fs-pt-12 {
    font-size: 12pt!important;    
}

.fs-pt-14 {
    font-size: 14pt!important;    
}

.fs-pt-16{
    font-size: 16pt!important;
}

.fs-pt-18{
    font-size: 18pt!important;
}

.fs-pt-20{
    font-size: 20pt!important;
}

.fs-pt-26 {
    font-size: 26pt!important;    
}

.fs-pt-30 {
    font-size: 30pt!important;    
}

.fs-pt-40 {
    font-size: 40pt!important;    
}

.ff-tahoma {
    font-family: 'Tahoma', 'sans-serif';
}


.fs-1 {
    font-size: 1rem!important;
}

.fs-2 {
    font-size: 1.5rem!important;
}

.fs-3 {
    font-size: 2rem!important;
}