.note {
    --mdb-note-padding: 10px;
    --mdb-note-border-width: 6px;
    --mdb-note-border-radius: 5px;
    --mdb-note-strong-font-weight: 600;
    padding: var(--mdb-note-padding);
    border-left: var(--mdb-note-border-width) solid;
    border-radius: var(--mdb-note-border-radius);
}

.note strong {
    font-weight: var(--mdb-note-strong-font-weight);
}

.note-primary {
    background-color: #dfe7f6;
    border-color: #376fc8;
}

.note-secondary {
    background-color: #ebedef;
    border-color: #565e6c;
}

.note-success {
    background-color: #d6f0e0;
    border-color: #139647;
}

.note-danger {
    background-color: #f9e1e5;
    border-color: #d62e4a;
}

.note-warning {
    background-color: #fbf0da;
    border-color: #a17112;
}

.note-info {
    background-color: #def1f7;
    border-color: #2686a6;
}

.note-light {
    background-color: #f5f5f5;
    border-color: #8c8c8c;
}

.note-dark {
    background-color: #332e2e;
    border-color: #e8e8e8;
}


.card .rotate-icon {
    float: right;
}
  
.card a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* Collapsed Card with chevron */

/* <div class="card">
    <div class="card-header d-flex flex-row justify-content-between text-white bg-secondary">
        <div>
            Featured
        </div>
        <div>
        <a
            class=""
            data-mdb-toggle="collapse"
            href="#collapseExample1"
            role="button"
            aria-expanded="true"
            aria-controls="collapseExample"
        >
            <i class="fa-solid text-white"></i>
        </a>  
        </div>
      
    </div>
    <div class="card-body collapse show" id="collapseExample1">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div> */

.card .card-header a[role=button]:not(.collapsed) > i.fa-solid:before {
    content: "\f077";
}

.card .card-header a[role=button].collapsed > i.fa-solid:before {
    content: "\f078";
}


/* Nested drop down menu */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 0%;
    /* right: 100%; */
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

/* .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
} */

.dropdown ul.dropdown-menu.custom-dropdown-menu{
    border-radius: 0;
    font-size: 1.25rem;
}

.dropdown ul.dropdown-menu.custom-dropdown-menu > li{
    border-radius: 0;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-left: 2px solid;
}

