/* body {
    font-family: 'Roboto', sans-serif;
}

header.navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
} */

/* header .navbar-brand img {
    width: 50px;
    height: 40px;
} */

/* header.navbar nav {
    height: 75px;
    max-width: none;
    padding: 0 20px;
} */

/* header.navbar nav ul {
    height: 100%;
} */

/* header.navbar nav ul.navigation li {
    padding-top: 15px;
} */

/* header.navbar ul li a.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #b3921b;
    height: 100%;
} */

/* header.navbar ul li a.nav-link:hover {
    text-decoration: none;
} */

/* header.navbar ul li.active a.nav-link {
    border-bottom: 2px solid #b3921b;
} */
/* 
#body > .container, #body > .container-fluid {
    min-height: calc(100vh - 75px - 52px);
    padding-top: 20px;
    padding-bottom: 20px;
} */
/* 
footer {
    font-size: 14px;
    box-shadow: 4px 0 0 2px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
}

footer a {
    color: #383d38;
    text-decoration: none;
}

footer a:hover {
    color: #383d38;
    text-decoration: underline;
} */



/* .nav.navbar-dropdown {
    left:50%;
    margin-left:-150px;
    top:50px;
    position:absolute;
} */
