@font-face {
    font-family: "Tahoma";
    src: url("./fonts/tahoma/tahoma.ttf") format("ttf"),
    url("./fonts/tahoma/tahomabd.ttf") format("ttf");
}

body, html {
	font-family: 'Tahoma', sans-serif;
	font-size: 16px;
}


.navbar.navbar-dropdown{
    box-shadow: none!important;
}


.navbar.navbar-dropdown .dropdown-menu > .dropdown-submenu > .dropdown-submenu-toggle:not(.show) ~ .dropdown-menu{
    display: none!important;
}

.navbar.navbar-dropdown .dropdown-menu > .dropdown-submenu:has(.dropdown-submenu-toggle.show) > .dropdown-menu{
    display: block;
    position: absolute;
    top: 100%;
    left: 100%;
    width: 15rem;
}


/* ====================== Main Dropdown button ======================*/
/* MDB style suppress */
.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle:before,
.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle:after,
.navbar.navbar-dropdown > button.dropdown-toggle:after{
    display: none !important;
    margin-left: 0!important;
    content: ""!important;
    border: 0!important;
}


button.dropdown-toggle{
    --navbar-dropdown-btn-toggler-left: 1rem;    
    --navbar-dropdown-btn-toggler-right: 1rem;
    --navbar-dropdown-btn-toggler-top: 0.625rem;
    --navbar-dropdown-btn-toggler-bottom: 0.5rem;
}


/* LIGHT Theme settings */

.navbar-light{
    --navbar-item-bg: transparent;
    --navbar-item-color: #FBFBFB;
    --navbar-item-hover-bg: transparent;
    --navbar-item-hover-color: #E2E2E2;
    --navbar-item-focus-bg: transparent;
    --navbar-item-focus-color: #EEE;
    --navbar-item-active-bg: transparent;
    --navbar-item-active-color: #E2E2E2;
    --navbar-item-disabled-bg: #94aedd;
    --navbar-item-disabled-color: #94aedd;    
    --navbar-item-border-color: #4A689F;
    --navbar-item-show-color: #BB972E;
    --navbar-node-title-border-color: #F1EDED;
    --navbar-node-hover-bg: #bb972e38;
    --navbar-btn-icon-danger-background-color: #FBFBFB;
    --navbar-btn-icon-danger-color: #dc4c64;
    --navbar-btn-icon-success-background-color: #FBFBFB;    
    --navbar-btn-icon-success-color: #14a44d;
    --navbar-main-caret-down: "\f0d7";
    --navbar-main-caret-up: "\f0d8";
    --navbar-main-caret-left: "\f0d9";
    --navbar-main-caret-right: "\f0da";

}

/* Main dropdown border rounding*/
.navbar.navbar-dropdown.navbar-rounded > .btn-group > button.dropdown-toggle,
.navbar.navbar-dropdown.navbar-rounded > button.dropdown-toggle{
    --navbar-rounded-border-radius: 0.8rem;
    border-radius: var(--navbar-rounded-border-radius);    
}

/* Generic style  */
.navbar.navbar-dropdown.navbar-outline > .btn-group > button.dropdown-toggle,
.navbar.navbar-dropdown.navbar-outline > button.dropdown-toggle{
    --navbar-border-widht: 0.125rem;
    border-style: solid;
    border-width: var(--navbar-border-widht);
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle,
.navbar.navbar-dropdown > button.dropdown-toggle{
    display: flex;
    flex-direction: row;
    justify-content: space-between!important;
    vertical-align: middle;

    max-height: 2.5rem!important;

    padding-left: var(--navbar-dropdown-btn-toggler-left)!important;
    padding-right: var(--navbar-dropdown-btn-toggler-right)!important;
    padding-top: var(--navbar-dropdown-btn-toggler-top)!important;
    padding-bottom: var(--navbar-dropdown-btn-toggler-bottom)!important;
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle > *,
.navbar.navbar-dropdown > button.dropdown-toggle > * {
    align-self: center !important;
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle:not(.disabled),
.navbar.navbar-dropdown > button.dropdown-toggle:not(.disabled){
    border-color: var(--navbar-item-border-color);
    color: var(--navbar-item-color);
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle.disabled,
.navbar.navbar-dropdown > button.dropdown-toggle.disabled{
    border-color: var(--navbar-item-disabled-color);
    color: var(--navbar-item-disabled-color);
    cursor: not-allowed;    
}


.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle .dropdown-caret,
.navbar.navbar-dropdown > button.dropdown-toggle .dropdown-caret{
    padding-left: 0.75rem;
    padding-right: 0.125rem;
}


.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle .dropdown-icon > i.success::before,
.navbar.navbar-dropdown > button.dropdown-toggle .dropdown-icon > i.success::before{
    background-color: var(--navbar-btn-icon-success-background-color)!important;
    color: var(--navbar-btn-icon-success-color)!important;
    border: 1px solid;
    border-color: var(--navbar-btn-icon-success-background-color)!important;
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle .dropdown-icon > i.danger::before,
.navbar.navbar-dropdown > button.dropdown-toggle .dropdown-icon > i.danger::before{
    background-color: var(--navbar-btn-icon-danger-background-color)!important;
    color: var(--navbar-btn-icon-danger-color)!important;
    border: 1px solid;
    border-color: var(--navbar-btn-icon-success-background-color)!important;    
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle .dropdown-icon > i.rounded-0::before,
.navbar.navbar-dropdown > button.dropdown-toggle .dropdown-icon > i.rounded-0::before{
    border-radius: 0!important;
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle .dropdown-icon > i.rounded-1::before,
.navbar.navbar-dropdown > button.dropdown-toggle .dropdown-icon > i.rounded-1::before{
    border-radius: 0.5rem!important;
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle .dropdown-icon > i.rounded-2::before,
.navbar.navbar-dropdown > button.dropdown-toggle .dropdown-icon > i.rounded-2::before{
    border-radius: 1rem!important;
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle .dropdown-icon > i.rounded-3::before,
.navbar.navbar-dropdown > button.dropdown-toggle .dropdown-icon > i.rounded-3::before{
    border-radius: 1.5rem!important;
}


.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle .dropdown-icon,
.navbar.navbar-dropdown > button.dropdown-toggle .dropdown-icon{
    display: flex;
    padding-left: 0;
    padding-right: 0.75rem;
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle .dropdown-icon > *,
.navbar.navbar-dropdown > button.dropdown-toggle .dropdown-icon > * {
    font-size: 0.75rem;
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle .dropdown-title,
.navbar.navbar-dropdown > button.dropdown-toggle .dropdown-title {
    font-size: .75rem!important;
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle:not(.disabled).show,
.navbar.navbar-dropdown > button.dropdown-toggle:not(.disabled).show{
    background-color: var(--navbar-item-show-color);
}

.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle:not(.disabled):focus,
.navbar.navbar-dropdown > .btn-group > button.dropdown-toggle:not(.disabled):hover,
.navbar.navbar-dropdown > button.dropdown-toggle:not(.disabled):focus,
.navbar.navbar-dropdown > button.dropdown-toggle:not(.disabled):hover
{
    border-color: var(--navbar-item-hover-color);
}

/* Down Direction */
.navbar.navbar-dropdown > .btn-group.dropdown > button.dropdown-toggle .dropdown-caret > i::before,
.navbar.navbar-dropdown > button.dropdown-toggle .dropdown-caret > i::before{
    content: var(--navbar-main-caret-down);
}

/*  Up direction*/
.navbar.navbar-dropdown > .btn-group.dropup > button.dropdown-toggle .dropdown-caret > i::before{
    content: var(--navbar-main-caret-up);
}

/*  Right direction*/
.navbar.navbar-dropdown > .btn-group.dropend > button.dropdown-toggle .dropdown-caret > i::before{
    content: var(--navbar-main-caret-right);
}

/* Start direction */

.navbar.navbar-dropdown > .btn-group.dropstart > button.dropdown-toggle .dropdown-caret > i::before{
    content: var(--navbar-main-caret-left);
}

.navbar.navbar-dropdown > .btn-group.dropstart > button.dropdown-toggle{
    flex-direction: row-reverse!important;
}

.navbar.navbar-dropdown > .btn-group.dropstart > button.dropdown-toggle .dropdown-icon{
    display: flex;
    padding-left: 0.75rem!important;
    padding-right: 0!important;
}

.navbar.navbar-dropdown > .btn-group.dropstart > button.dropdown-toggle .dropdown-caret{
    padding-right: 0.75rem;
    padding-left: 0.125rem;
}
/* End Left direction */

/* ====================== End Main Dropdown button ======================*/

/* ====================== Dropdown submenu items ======================*/
/* DOWN Direction */
.navbar.navbar-dropdown > .btn-group.dropdown .dropdown-menu > .dropdown-submenu > .dropdown-submenu-toggle .item-caret i::before, 
.navbar.navbar-dropdown .dropdown-menu > .dropdown-submenu > .dropdown-submenu-toggle .item-caret > i::before{
    content: var(--navbar-main-caret-down)!important;
}


/* UP Direction */
.navbar.navbar-dropdown > .btn-group.dropup .dropdown-menu > .dropdown-submenu > .dropdown-submenu-toggle .item-caret i::before{
    content: var(--navbar-main-caret-up)!important;
}

/* START Direction */
.navbar.navbar-dropdown > .btn-group.dropstart .dropdown-menu > .dropdown-submenu > .dropdown-submenu-toggle .item-caret i::before{
    content: var(--navbar-main-caret-left)!important;
}

.navbar.navbar-dropdown > .btn-group.dropstart .dropdown-menu .dropdown-node{
    flex-direction: row-reverse;
}

.navbar.navbar-dropdown > .btn-group.dropstart .dropdown-menu .dropdown-node > .item-title{
    border-left: none;
    border-right: 1px solid!important;
    border-color: var(--navbar-node-title-border-color)!important;
}

.navbar.navbar-dropdown > .btn-group.dropstart .dropdown-menu .dropdown-node > .item-icon{
    text-align: center!important;
    padding-right: 0!important;
    padding-left: 0!important;
}

.navbar.navbar-dropdown > .btn-group.dropstart .dropdown-menu .dropdown-node > .item-caret{
    padding-left: 0!important;
    padding-right: 0.35rem!important;

}

.navbar.navbar-dropdown > .btn-group.dropstart .dropdown-menu > .dropdown-submenu .dropdown-menu{
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 0;
    margin-right: var(--mdb-dropdown-spacer);
}

/* END Direction */
.navbar.navbar-dropdown > .btn-group.dropend .dropdown-menu > .dropdown-submenu > .dropdown-submenu-toggle .item-caret i::before{
    content: var(--navbar-main-caret-right)!important;
}

.navbar.navbar-dropdown > .btn-group.dropend .dropdown-menu > .dropdown-submenu .dropdown-menu{
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: var(--mdb-dropdown-spacer);    
}

/* General menu items */

.navbar.navbar-dropdown > .btn-group .dropdown-menu .dropdown-node,
.navbar.navbar-dropdown .dropdown-menu .dropdown-node {
    display: table;
    direction: ltr;
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
}


.navbar.navbar-dropdown .dropdown-menu > .dropdown-submenu:has(.dropdown-submenu-toggle.show),
.navbar.navbar-dropdown > .btn-group .dropdown-menu .dropdown-nod.disabled:hover,
.navbar.navbar-dropdown > .btn-group .dropdown-menu .dropdown-node.disabled:focus,
.navbar.navbar-dropdown .dropdown-menu .dropdown-node.disabled:hover,
.navbar.navbar-dropdown .dropdown-menu .dropdown-node.disabled:focus {
    cursor: not-allowed;
}

.navbar.navbar-dropdown .dropdown-menu > .dropdown-submenu:has(.dropdown-submenu-toggle.show),
.navbar.navbar-dropdown > .btn-group .dropdown-menu .dropdown-nod:not(.disabled):hover,
.navbar.navbar-dropdown > .btn-group .dropdown-menu .dropdown-node:not(.disabled):focus,
.navbar.navbar-dropdown .dropdown-menu .dropdown-node:not(.disabled):hover,
.navbar.navbar-dropdown .dropdown-menu .dropdown-node:not(.disabled):focus {
    background-color: var(--navbar-node-hover-bg)!important;
}


.navbar.navbar-dropdown > .btn-group.dropstart .dropdown-menu .dropdown-node{
    direction: rtl!important;
}

.dropdown-menu .dropdown-node > .item-icon > *{
    font-size: 1rem!important;
}


/* .navbar.navbar-dropdown .dropdown-menu .dropdown-node > .item-title > div::after{
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} */


.navbar.navbar-dropdown .dropdown-menu .dropdown-node > .item-icon,
.navbar.navbar-dropdown .dropdown-menu .dropdown-node > .item-title,
.navbar.navbar-dropdown .dropdown-menu .dropdown-node > .item-caret{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.navbar.navbar-dropdown > .btn-group .dropdown-menu .dropdown-node > .item-icon,
.navbar.navbar-dropdown .dropdown-menu .dropdown-node > .item-icon{
    padding-top: var(--navbar-dropdown-node-padding-top);
    padding-bottom: var(--navbar-dropdown-node-padding-bottom);    
    padding-left: 0!important;
    padding-right: 0.35rem!important;   
    width: 1.5rem;
}

.navbar.navbar-dropdown > .btn-group .dropdown-menu .dropdown-node > .item-title,
.navbar.navbar-dropdown .dropdown-menu .dropdown-node > .item-title{
    padding-top: var(--navbar-dropdown-node-padding-top);
    padding-bottom: var(--navbar-dropdown-node-padding-bottom);
    padding-left: 3px!important;
    border-left: 1px solid;
    border-color: var(--navbar-node-title-border-color);
}

.navbar.navbar-dropdown > .btn-group .dropdown-menu .dropdown-node > .item-caret,
.navbar.navbar-dropdown .dropdown-menu .dropdown-node > .item-caret{
    padding-top: var(--navbar-dropdown-node-padding-top);
    padding-bottom: var(--navbar-dropdown-node-padding-bottom);  
    padding-left: 0.35rem!important;
    padding-right: 0!important;

}

/* ====================== Dropdown submenu items ======================*/

.navbar.navbar-dropdown .dropdown-menu{
    border-top: 0.2rem solid #0d0d0d;
    border-bottom: 0.25rem solid #0d0d0d;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;    
    max-width: 20rem;
    min-width: 15rem;

}

.navbar.navbar-dropdown > .btn-group .dropdown-menu  li > .dropdown-node,
.navbar.navbar-dropdown .dropdown-menu  li > .dropdown-node{
    --navbar-dropdown-node-padding-top: 0.5rem;
    --navbar-dropdown-node-padding-bottom: 0.5rem;
    --navbar-dropdown-node-padding-left: 0.25rem;
    --navbar-dropdown-node-padding-right: 0.25rem;
    padding-right: var(--navbar-dropdown-node-padding-right);
    padding-left: var(--navbar-dropdown-node-padding-left);
    width: 100%;
    color: var(--mdb-dropdown-color);
}


.navbar.navbar-dropdown .dropdown-menu .dropdown-node.disabled > *,
.dropdown-node:disabled > * {
    color: var(--mdb-dropdown-link-disabled-color);
    pointer-events: none;
    background-color: transparent;
}